@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
ul {
    padding: 10x;
}
li {
    display: inline;
    padding: 3px 3px 0px 10px;
}
body {
    font-family: "Pretendard Variable", Pretendard;
    text-align: center;
}
header {
    text-align: center;
}
#profile {
    width: 150px;
    height: 150px;
}
